<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>View Claim</strong> Details
        </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Insurance Company Name</label>
              <div class="col-md-9">
                <p>{{claim_details.Insurance_company_name}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Insurance Agent Name</label>
              <div class="col-md-9">
                <p>{{claim_details.Insurance_agent_name}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Insured Name</label>
              <div class="col-md-9">
                <p>{{claim_details.Insured_name}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Insured Id Number</label>
              <div class="col-md-9">
                <p>{{claim_details.Insured_id_number}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Insured Address</label>
              <div class="col-md-9">
                <p>{{claim_details.Insured_address}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Insured Cellphone</label>
              <div class="col-md-9">
                <p>{{claim_details.Insured_cellphone}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Car Manufacturer</label>
              <div class="col-md-9">
                <p>{{claim_details.car_manufacturer}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Car Model</label>
              <div class="col-md-9">
                <p>{{claim_details.car_model}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Car Year</label>
              <div class="col-md-9">
                <p>{{claim_details.car_year}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">License Plate Number</label>
              <div class="col-md-9">
                <p>{{claim_details.License_plate_number}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Driver At Event Time</label>
              <div class="col-md-9">
                <p>{{claim_details.Driver_at_event_time}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Driver Name</label>
              <div class="col-md-9">
                <p>{{claim_details.Driver_name}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Driver Id Number</label>
              <div class="col-md-9">
                <p>{{claim_details.Driver_id_number}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Driver Gender</label>
              <div class="col-md-9">
                <p>{{claim_details.Driver_gender}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Driver Birthdate</label>
              <div class="col-md-9">
                <p>{{claim_details.Driver_birthdate}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Driver Cellphone</label>
              <div class="col-md-9">
                <p>{{claim_details.Driver_cellphone}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Driver Address</label>
              <div class="col-md-9">
                <p>{{claim_details.Driver_address}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Driver Date Of Issuance Of License</label>
              <div class="col-md-9">
                <p>{{claim_details.Driver_date_of_issuance_of_license}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Event Date</label>
              <div class="col-md-9">
                <p>{{claim_details.Event_date}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Event Time</label>
              <div class="col-md-9">
                <p>{{claim_details.Event_time}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Event Place</label>
              <div class="col-md-9">
                <p>{{claim_details.Event_place}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Event Description</label>
              <div class="col-md-9">
                <p>{{claim_details.Event_description}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Car Damage Description</label>
              <div class="col-md-9">
                <p>{{claim_details.Car_damage_description}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Care Damage Location</label>
              <div class="col-md-9">
                <p>{{claim_details.Care_damage_location}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Event Occured On</label>
              <div class="col-md-9">
                <p>{{claim_details.Event_occured_on}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Event Fault</label>
              <div class="col-md-9">
                <p>{{claim_details.Event_fault}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Road Type</label>
              <div class="col-md-9">
                <p>{{claim_details.Road_type}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Number Of Involved Car</label>
              <div class="col-md-9">
                <p>{{claim_details.Number_of_involved_car}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Police Involved</label>
              <div class="col-md-9">
                <p>{{claim_details.police_involved}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Police Station Name</label>
              <div class="col-md-9">
                <p>{{claim_details.police_station_name}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">License Suspension</label>
              <div class="col-md-9">
                <p>{{claim_details.License_suspension}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Body Injured</label>
              <div class="col-md-9">
                <p>{{claim_details.body_injured}}</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <!-- <button type="button" class="btn btn-primary pull-right"><i class="fa fa-dot-circle-o"></i>Submit</button> -->
          </div>
    </div>
  </div>
</div>