<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-8 my_change_password">
      <div class="card">
        <div class="card-header">
          <p class="basictitle"><i class="fa fa-align-justify"></i> {{ role }} change password</p>
          <div *ngIf="response!=''">
            <div [ngClass]="(errflag==false)?'alert alert-success':'alert alert-danger'">{{response}}</div>
          </div>
        </div>
        <form [formGroup]="userUpdatePassword_form" novalidate (ngSubmit)="userUpdatePassword()">
          <div class="card-body table-responsive">
            <div class="modal-body">
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="input-group">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Current Password" formControlName="currentpassword">

                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="input-group">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="New Password" formControlName="newpassword">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- custom_changepw_footer -->
          <div class="card-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!userUpdatePassword_form.valid">Update Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>