<div class="app-body" id="hello_back">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4" id="forget_box">
            <div class="card-body p-4">
              <h1>Forgot Password ?</h1>
              <p class="text-muted">Enter Mobile Numer To Get Confirmation Code</p>
              <form [formGroup]="garage_form" novalidate (ngSubmit)="adminForgetPassword()">
                <div class="input-group mb-3">
                 
                  <input type="text" class="form-control" placeholder="Mobile Number" formControlName="mobile_number">
                  <div class="input-group-append">
                      <span class="input-group-text"><i class="icon-phone"></i></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-success" [disabled]="!garage_form.valid">Get Confirmation Code</button>
                <button type="button" class="btn btn-block btn-success" (click)="changePasswordModal.show()">Change Password</button>
                <div class="col-12 text-center">
                  <button type="submit" class="btn btn-link px-0" (click)="login()">Back To Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div bsModal #changePasswordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Change Password</h4>
            <button type="button" class="close" (click)="changePasswordModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form [formGroup]="garageUpdatePassword_form" novalidate (ngSubmit)="adminUpdatePassword()">
            <div class="modal-body" dir="rtl">
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="hf-email">Confirmation Code</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="Confirmation Code" formControlName="code">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="hf-email">New Password</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="New Password" formControlName="newpassword">
                </div>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="changePasswordModal.hide()">Close</button>
              <button type="submit" class="btn btn-info" [disabled]="!garageUpdatePassword_form.valid">Save Changes</button>
            </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </main>
</div>