<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <p class="basictitle"><i class="fa fa-align-justify"></i> Active Claim Listing</p>
        </div>
        <div class="card-body table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Action</th>
                <th>Claim status</th>
                <th>Car Manufacturer</th>
                <th>Car Model</th>
                <th>Insurance Company Name</th>
                <th>Insured Name</th>
                <th>Claim Unique Id</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let claim of activeclaims; let i = index">
                  <td> <a [routerLink]="['claim-info/',claim.id]" class="btn btn-sm btn-pill btn-primary"> Details</a></td>
                <td>
                <span class="badge badge-success textup"> {{ claim.status}}</span>
                </td>
                <td>{{claim.car_manufacturer}}</td>
                <td>{{claim.car_model}}</td>
                <td>{{claim.Insurance_company_name}}</td>
                <td>{{claim.Insured_name}}</td>
                <td>{{claim.claim_unq_id}}</td>
              </tr>
            </tbody>
          </table>
         
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>