<div class="animated fadeIn my_custom_review_offer">
  <div class="row">
    <div class="col-md-12 col-lg-5"  *ngIf="assessor_basic_detail">
      <div class="card" >
        <div class="card-header">
          <strong>Assessor Assessment Report</strong>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <ul class="list-group claimdata" >
              <li class="list-group-item">{{claimdata.assessor_basic_detail.Name}}<span>:Name</span></li>
              <li class="list-group-item">
                <a href="{{claimdata.assessor_report_info.reportfile}}" class="btn btn-sm btn-info my_info_download"
                  target="_blank" download>
                  <img src="../../../assets/images/pdf_download.jpeg" width="100%">
                </a>
                <span class="col-sm-6 my_assessment_report">:Assessment Report File</span>
              </li>
              <li class="list-group-item">${{claimdata.assessor_report_info.assessor_charge}}<span>:Work
                  amount for event</span></li>
              <li class="list-group-item">${{claimdata.assessor_report_info.spareparts_amount}}<span>:Spare
                  parts amount for this event</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="claimdata.status>=5">
        <div class="card-header">
          <strong>JOB STATUS</strong>
        </div>
        <div class="card-body">

          <div class="input-group mb-4">
            <div class="col-sm-4 col-12 my_edit_profile_switch">
              <span [ngClass]="(claimdata.jobstart==true)?'badge badge-success textsize':'badge badge-danger textsize'">
                {{ jobstart}}
              </span>
            </div>
            <div class="col-sm-8 my_authrize">
              <div>
                <span class="input-group-text">Is Job started?</span>
              </div>
            </div>
          </div>
          <div class="input-group mb-4">
            <div class="col-sm-4 col-12 my_edit_profile_switch">
              <span [ngClass]="(claimdata.jobdone==true)?'badge badge-success textsize':'badge badge-danger textsize'">
                {{jobdone}}
              </span>
            </div>
            <div class="col-sm-8 my_authrize">
              <div>
                <span class="input-group-text">Is Job done?</span>
              </div>
            </div>
          </div>
          <hr>
          <div class="input-group mb-4">
            <div class="col-sm-4 col-12 my_edit_profile_switch">
              <span [ngClass]="(claimdata.jobcomplete==true)?'badge badge-success textsize':'badge badge-danger textsize'">
                {{ jobcomplete}}
              </span>
            </div>
            <div class="col-sm-8 my_authrize">
              <div>
                <span [ngClass]="(claimdata.jobcomplete==true)?'input-group-text custom_status_success':'input-group-text custom_status_error'">Job
                  Completed</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="garage_basic_detail">
        <div class="card-header">
          <strong>Garage Information/Report</strong>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <ul class="list-group claimdata">
              <li class="list-group-item">{{claimdata.garage_basic_detail.Name}}<span>:Name</span></li>

              <li class="list-group-item">${{claimdata.garage_offer_info.garage_charge}}<span>:Work
                  amount for event</span></li>
              <li class="list-group-item">${{claimdata.garage_offer_info.parts_amount}}<span>:Spare
                  parts amount for this event</span></li>
              <li class="list-group-item"> <span *ngFor="let service of claimdata.garage_offer_info.additional_service"
                  class="badge badge-info">{{service}}</span>
                <span>:Additional Services</span></li>
              <li class="list-group-item custom_cashback_admin">${{claimdata.garage_offer_info.cashback}}<span>:Cashback</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div [ngClass]="(assessor_basic_detail==true)?'col-md-12 col-lg-7':'col-md-12 col-lg-12'">
      <div class="card">
        <div class="card-header">
          <strong>Claim Information</strong>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <ul class="list-group claimcontent" *ngIf="claimdata">
              <li class="list-group-item active my_first_li">
                <p class="my_list_active">{{ claimdata.claim_unq_id}} :Claim Unique ID
                  <button class="btn btn-success custom_uppercase_text">
                    {{ claimdata.status_text }}
                  </button>
                </p>
              </li>
              <li class="list-group-item">{{ claimdata.Insurance_company_name}} <span>:Insurance Company Name</span></li>
              <li class="list-group-item">{{ claimdata.Insurance_agent_name}}<span>:Insurance Agent Name</span></li>
              <li class="list-group-item">{{ claimdata.Insured_name}} <span>:Insured_name</span></li>
              <li class="list-group-item">{{ claimdata.Insured_id_number}}<span>: Insured_id_number</span></li>
              <li class="list-group-item">{{ claimdata.Insured_address}}<span>: Insured_address</span></li>
              <li class="list-group-item">{{ claimdata.Insured_cellphone}}<span>:Insured_cellphone</span></li>
              <li class="list-group-item claim_subhead">
                <strong>Car Information</strong>
                <ul class="list-group">
                  <li class="list-group-item">{{ claimdata.car_manufacturer}}<span>: Manufecturer</span></li>
                  <li class="list-group-item">{{ claimdata.car_model}}<span>:Model</span></li>
                  <li class="list-group-item">{{ claimdata.car_year}}<span>: Year</span></li>
                  <li class="list-group-item">{{ claimdata.Car_damage_description}}<span>:Damage Description</span></li>
                </ul>
              </li>
              <li class="list-group-item">{{ claimdata.License_plate_number}}<span>:License_plate_number</span></li>
              <li class="list-group-item">{{ claimdata.Driver_at_event_time}}<span>:Driver at a event time</span></li>
              <li class="list-group-item claim_subhead">
                <strong>Driver Information</strong>
                <ul class="list-group">
                  <li class="list-group-item">{{ claimdata.Driver_name}}<span>:Name</span></li>
                  <li class="list-group-item">{{ claimdata.Driver_id_number}}<span>: Driver_id_number</span></li>
                  <li class="list-group-item">{{ claimdata.Driver_gender}}<span>: Gender</span></li>
                  <li class="list-group-item">{{ claimdata.Driver_birthdate}}<span>:Date of Birth</span></li>
                  <li class="list-group-item">{{ claimdata.Driver_cellphone}}<span>:Cellphone</span></li>
                  <li class="list-group-item">{{ claimdata.Driver_address}}<span>:Address</span></li>
                  <li class="list-group-item">{{claimdata.Driver_date_of_issuance_of_license}}<span>:Date of issuance
                      of license</span></li>
                </ul>
              </li>
              <li class="list-group-item claim_subhead">
                <strong>Event Information</strong>
                <ul class="list-group">
                  <li class="list-group-item">{{ claimdata.Event_date}}<span>:Date</span></li>
                  <li class="list-group-item">{{ claimdata.Event_time}}<span>:Time</span></li>
                  <li class="list-group-item">{{ claimdata.Event_place}}<span>:Place</span></li>
                  <li class="list-group-item">{{ claimdata.Event_description}}<span>: Description</span></li>
                  <li class="list-group-item">{{ claimdata.Event_occured_on}}<span>:Event occured on</span></li>
                  <li class="list-group-item">{{ claimdata.Event_fault}}<span>:Event fault</span></li>
                </ul>
              </li>

              <li class="list-group-item">{{ claimdata.Road_type}}<span>: Road Type</span></li>
              <li class="list-group-item">{{ claimdata.police_involved}}<span>:Police Involved</span></li>
              <li class="list-group-item claim_subhead" *ngIf="claimdata.police_involved==yes">
                <strong>Police involvement Information</strong>
                <ul class="list-group">
                  <li class="list-group-item">{{ claimdata.police_station_name}}<span>:police_station_name</span></li>
                  <li class="list-group-item">{{ claimdata.License_suspension}}<span>:License_suspension</span></li>
                </ul>
              </li>
              <li class="list-group-item">{{ claimdata.Number_of_involved_car}}<span>:Number of Involved car</span></li>
              <li class="list-group-item claim_subhead" *ngIf="claimdata.Number_of_involved_car>1">
                <strong>Third Parties details</strong>
                <ul class="list-group" *ngFor="let thirdparty of claimdata.Thirparties; index as i;">
                  <li class="list-group-item">{{ thirdparty.name}}<span>:Name</span></li>
                  <li class="list-group-item">{{ thirdparty.insurance_company_name}}<span>:Insurance Company Name</span></li>
                  <li class="list-group-item">{{ thirdparty.license_plate_number}}<span>:license plate Number</span></li>
                  <li class="list-group-item">{{ thirdparty.address}}<span>:Address</span></li>
                  <li class="list-group-item">{{ thirdparty.cellphone}}<span>:Cellphone</span></li>
                  <li class="list-group-item claim_subhead">
                    <strong>Car Information</strong>
                    <ul class="list-group">
                      <li class="list-group-item">{{ thirdparty.car_manufacturer}}<span>:Manufecturer</span></li>
                      <li class="list-group-item">{{ thirdparty.car_model}}<span>:Model</span></li>
                      <li class="list-group-item">{{ thirdparty.car_year}}<span>:Year</span></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="list-group-item">{{ claimdata.body_injured}}<span>:Body Injured</span></li>
              <li class="list-group-item">{{ claimdata.body_injured}}<span>:Body Injured</span></li>
              <li class="list-group-item claim_subhead" *ngIf="claimdata.body_injured=='Yes'">
                <strong>Body Injured details</strong>
                <ul class="list-group" *ngFor="let bi of claimdata.Injured_persons; index as j;">
                  <li class="list-group-item">{{ bi.name}}<span>:Name</span></li>
                  <li class="list-group-item">{{ bi.address}}<span>:Address</span></li>
                  <li class="list-group-item">{{ bi.phone_number}}<span>:Cellphone</span></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>