<div class="animated fadeIn">
  <div class="row">
    <div bsModal #changepassModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-info" role="document">
        <div class="modal-content" id="rating_content_box">
          <form [formGroup]="pwdform" novalidate (ngSubmit)="updatepassword()">
            <div class="modal-header">
              <h4 class="modal-title">Change Password</h4>
              <p class="modal-subtitle">CellPhone Number:{{ assessorinfo.cell_phone_number}}</p>
              <button type="button" class="close" (click)="changepassModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="Current Password" formControlName="currentpassword">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="New Password" formControlName="newpassword">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!pwdform.valid">Update Changes</button>
            </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div bsModal #ConfirmationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-info modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">CONFIRMATION BOX</h4>
            <p class="modal-subtitle">CellPhone Number:{{ assessorinfo.cell_phone_number}}</p>
            <button type="button" class="close" (click)="ConfirmationModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body my_custom_modal">
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-success">
                  <p>Assessor:{{ assessorinfo.Firstname }} {{assessorinfo.Lastname}}</p>
                  <p *ngIf="assessorinfo.active==0"><i class="fa fa-inbox" aria-hidden="true"></i> Do you really want
                    to Activate Assessor Account?</p>
                  <p *ngIf="assessorinfo.active==1"><i class="fa fa-inbox" aria-hidden="true"></i> Do you really want
                    to Deactivate Assessor Account?</p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="update_status()"><i class="fa fa-thumbs-o-up"
                aria-hidden="true"></i> Confirmed</button>
            <button type="button" class="btn btn-danger" id="cancelstate" (click)="ConfirmationModal.hide()"><i class="fa fa-thumbs-o-down"
                aria-hidden="true"></i> Cancel</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

    <div class="col-lg-7">
      <div class="card">
        <div class="card-header">
          <p class="basictitle"><i class="fa fa-align-justify"></i>Assessor Listing</p>
        </div>
        <div class="card-body table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Action</th>
                <th>Status</th>
                <th>CellPhone Verification</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let assessor of assessorlist; let i = index">
                <td> <button type="button" class="btn btn-block btn-xs btn-primary" (click)="edit_assessor(assessor.user_id,i)">Edit</button></td>
                <td>
                  <div *ngIf="assessor.active==0" class="badge badge-danger">Inactive</div>
                  <div *ngIf="assessor.active==1" class="badge badge-success">Active</div>
                </td>
                <td>
                  <div *ngIf="assessor.verified==0"><button class="btn btn-info btn-sm" (click)="openconfirmform(assessor.user_id,i)">Verify
                      Now</button></div>
                  <div *ngIf="assessor.verified==1" class="badge badge-success">Verified</div>
                </td>
                <td>{{assessor.cell_phone_number}}</td>
                <td>{{assessor.email}}</td>
                <td>{{assessor.Firstname}} {{ assessor.Lastname}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card" *ngIf="is_confirmed_trigger!=true">
        <div class="card-header">
          <p class="basictitle"><i class="fa fa-align-justify"></i> Register Assessor</p>
        </div>
        <form [formGroup]="validations_form" novalidate (ngSubmit)="register()" #myform="ngForm">
          <div class="card-body">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="First Name" formControlName="Firstname">
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
            </div>
            <div *ngIf="validations_form.controls['Firstname'].invalid && (validations_form.controls['Firstname'].dirty || validations_form.controls['Firstname'].touched)"
              class="alert alert-danger">
              <div *ngIf="validations_form.controls['Firstname'].errors.required">
                First Name is required.
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Last Name" formControlName="Lastname">
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
            </div>
            <div *ngIf="validations_form.controls['Lastname'].invalid && (validations_form.controls['Lastname'].dirty || validations_form.controls['Lastname'].touched)"
              class="alert alert-danger">
              <div *ngIf="validations_form.controls['Lastname'].errors.required">
                Last Name is required.
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Email" formControlName="email" readonly>
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon-envelope"></i></span>
              </div>
            </div>
            <div *ngIf="validations_form.controls['email'].invalid && (validations_form.controls['email'].dirty || validations_form.controls['email'].touched)"
              class="alert alert-danger">
              <div *ngIf="validations_form.controls['email'].errors.required">
                Email is required.
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Mobile Number" formControlName="cell_phone_number"
                readonly>
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon-phone"></i></span>
              </div>
            </div>
            <div *ngIf="validations_form.controls['cell_phone_number'].invalid && (validations_form.controls['cell_phone_number'].dirty || validations_form.controls['cell_phone_number'].touched)"
              class="alert alert-danger">
              <div *ngIf="validations_form.controls['cell_phone_number'].errors.required">
                Cell Phone Number is required.
              </div>
            </div>

            <div class="input-group mb-4">
              <select id="select2" name="select2" class="form-control" formControlName="Ins_coy_id">
                <option value="">Select Insurance Company</option>
                <option *ngFor="let company of companylist" [value]="company.id">{{company.name}}</option>
              </select>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-building-o"></i></span>
              </div>
            </div>
            <div *ngIf="validations_form.controls['Ins_coy_id'].invalid && (validations_form.controls['Ins_coy_id'].dirty || validations_form.controls['Ins_coy_id'].touched)"
              class="alert alert-danger">
              <div *ngIf="validations_form.controls['Ins_coy_id'].errors.required">
                Insurance company name is required.
              </div>
            </div>

            <div class="input-group mb-4">
              <input ngx-google-places-autocomplete class="form-control" formControlName="city" #placesRef="ngx-places"
                (onAddressChange)="onAssessorAddressChange($event)" />
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon-location-pin"></i></span>
              </div>
            </div>
            <div *ngIf="validations_form.controls['city'].invalid && (validations_form.controls['city'].dirty || validations_form.controls['city'].touched)"
              class="alert alert-danger">
              <div *ngIf="validations_form.controls['city'].errors.required">
                city is required.
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Business ID Number" formControlName="Business_id_number">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-address-card-o"></i></span>
              </div>
            </div>
            <div *ngIf="validations_form.controls['Business_id_number'].invalid && (validations_form.controls['Business_id_number'].dirty || validations_form.controls['Business_id_number'].touched)"
              class="alert alert-danger">
              <div *ngIf="validations_form.controls['Business_id_number'].errors.required">
                Business Id Number is required.
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="License Number" formControlName="License_number">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-address-card-o"></i></span>
              </div>
            </div>
            <div *ngIf="validations_form.controls['License_number'].invalid && (validations_form.controls['License_number'].dirty || validations_form.controls['License_number'].touched)"
              class="alert alert-danger">
              <div *ngIf="validations_form.controls['License_number'].errors.required">
                License Number is required.
              </div>
            </div>

            <div class="input-group mb-3" *ngIf="isedit!=true">
              <input type="password" class="form-control" placeholder="Password" formControlName="pwd">
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
            </div>
            <div *ngIf="validations_form.controls['pwd'].invalid && (validations_form.controls['pwd'].dirty || validations_form.controls['pwd'].touched)"
              class="alert alert-danger">
              <div *ngIf="validations_form.controls['pwd'].errors.required">
                Password is required.
              </div>
            </div>
          </div>
          <div class="card-footer text-right" *ngIf="isedit==false">
            <button type="reset" class="btn btn-sm btn-info my_pad_left" (click)="resetform()"><i class="fa fa-ban"></i>
              Reset</button>
            <button type="submit" class="btn btn-sm btn-success" [disabled]="!validations_form.valid">Create
              Account</button>
          </div>
        </form>
        <div class="card-footer text-right" *ngIf="isedit==true">
          <button type="button" *ngIf="this.assessorinfo.active==1" class="btn btn-sm btn-danger" data-toggle="modal"
            (click)="ConfirmationModal.show()">Delete Account</button>
          <button type="button" *ngIf="this.assessorinfo.active==0" class="btn btn-sm btn-info" data-toggle="modal"
            (click)="ConfirmationModal.show()">Activate Account</button>
          <button type="button" class="btn btn-sm btn-success my_pad_left" (click)="changepassModal.show()"><i class="fa fa-pencil-square-o"></i>
            Change Password </button>
          <button type="button" class="btn btn-sm btn-primary my_pad_left" (click)="updateAssessor()"><i class="fa fa-pencil-square-o"></i>
            Update </button>
          <button type="button" class="btn btn-sm btn-info my_pad_left" (click)="cancelupdate()"><i class="fa fa-ban"></i>
            Cancel</button>
        </div>
      </div>

      <div class="card" *ngIf="is_confirmed_trigger==true">
        <div class="card-header">
          <p class="basictitle"><i class="fa fa-align-justify"></i>Confirm Assessor Registration</p>
        </div>
        <form [formGroup]="confirmform" novalidate (ngSubmit)="confirm_register()">
          <div class="card-body">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Confirmation Code" formControlName="confirmation_code">
            </div>
          </div>
          <div class="card-footer text-right">
            <button type="submit" class="btn btn-sm btn-primary my_pad_left"><i class="fa fa-pencil-square-o"></i>
              Confirm </button>
            <button type="button" class="btn btn-sm btn-info my_pad_left" (click)="cancelconfirm()"><i class="fa fa-ban"></i>
              Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>